# Byte-compiled / optimized / DLL files
code/__pycache__/
code/*.py[cod]
code/*$py.class

# C extensions
code/*.so

# Distribution / packaging
code/.Python
code/build/
code/develop-eggs/
code/dist/
code/downloads/
code/eggs/
code/.eggs/
code/lib/
code/lib64/
code/parts/
code/sdist/
code/var/
code/wheels/
code/*.egg-info/
code/.installed.cfg
code/*.egg
code/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
code/*.manifest
code/*.spec

# Installer logs
code/pip-log.txt
code/pip-delete-this-directory.txt

# Unit test / coverage reports
code/htmlcov/
code/.tox/
code/.coverage
code/.coverage.*
code/.cache
code/nosetests.xml
code/coverage.xml
code/*.cover
code/.hypothesis/
code/.pytest_cache/

# Translations
code/*.mo
code/*.pot

# Django stuff:
code/*.log
code/local_settings.py
code/db.sqlite3

# Flask stuff:
code/instance/
code/.webassets-cache

# Scrapy stuff:
code/.scrapy

# Sphinx documentation
code/docs/_build/

# PyBuilder
code/target/

# Jupyter Notebook
code/.ipynb_checkpoints

# pyenv
code/.python-version

# celery beat schedule file
code/celerybeat-schedule

# SageMath parsed files
code/*.sage.py

# Environments
code/.env
code/.venv
code/env/
code/venv/
code/ENV/
code/env.bak/
code/venv.bak/

# Spyder project settings
code/.spyderproject
code/.spyproject

# Rope project settings
code/.ropeproject

# mkdocs documentation
/site

# mypy
code/.mypy_cache/
